@charset "UTF-8";
/* common */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-width: 300px;
}

header h1{
  font-size: 28px;
}

.header_logo{
  width: 120px;
}

h2{
  font-weight: normal;
}

a{
  cursor: default;
  text-decoration: none;
}

.btn{
  border: none;
  display: inline-block;
  width: 150px;
  height: 46px;
  font-size: 24px;
  line-height: 46px;
  background-color: #FF0202;
  color: #f9f9f9;
  text-decoration: none;
  box-shadow: 0 6px 0 0 #ba0000;
  border-radius: 6px;
}

.form_card .error_message{
  font-size: 14px;
  display: block;
  text-align: center;
}

.icon{
  width: 22px;
}

/* index.blade.php */
body{
  font-family: 'Saira SemiCondensed','ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


header{
  padding: 8px;
  width: 100%;
  height: 75px;
  background-color: #FF3F25;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1{
  color: #f9f9f9;
  font-weight: normal;
}

header img{
  width: 36px;
}

/* ハンバーガーメニュー */

.hamburger ul {
  
  padding: 0;
  list-style: none;
  text-align: center;
}

.hamburger li{
  color: #fff;
  text-decoration: none;
  height: 40px;
  opacity: 0;
}

.overlay a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.overlay li{
  text-align: center;
  margin: 0 auto;
  padding: 38px 0 0;
}


.active li{
  opacity: 1;
}

.hamburger li + li {
  padding: 16px 0 0;
}
.hamburger div{
  display: flex;
  
}


.hamburger .close{
  margin: 14px 2px 8px auto;
  width: 46px;
}

.overlay {
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 91, 91, 0.885);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity.3s;
  color: #fff;
}

.active{
  opacity: 1;
  pointer-events: auto;
}


header .inactive{
  display: none;
}

.inactive{
  overflow: hidden;
}

/* フッター */
footer{
  margin: 60px 0 0;
  padding: 36px;
  height: 226px;
  background-color: #ff5d5d;
}

footer a{
  font-size: 14px;
  display: block;
  color: #f9f9f9;
  text-decoration: none;
}

footer a + a{
  margin: 10px 0 0;
}

.copy_right{
  text-align: center;
  margin: 18px 0;
  font-size: 10px;
  color: #f9f9f9;  
}

main + nav{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: rgb(232, 232, 232);
}

nav > ul{
  padding: 0 8px;
  display: flex;
  list-style: none;
}

nav li{
  width: calc(100% / 5);
  text-align: center;
  padding: 6px 0 0;
}

nav img, nav a{
  margin: 0 auto;
  display: block;
}

nav a{
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

nav img{
  padding: 0 0 2px;
}


/* home.blade.php */
.main_title{
  padding: 70px 0;
  width: 100%;

  background-color: #FF7765;
  text-align: center;
  color: #f9f9f9;
}

.main_title p{
  font-size: 30px;
  line-height: 52px;
}

.main_title h2{
  font-weight: normal;
  font-size: 48px;
  width: fit-content;
  padding: 0 18px;
  margin: 0 auto;
  border-bottom: 1px solid #f9f9f9;
}

.main_title h2 + a{
  margin: 66px 0 0;
}

form + .recipes_container{
  width: 100%;
  margin: 0 0 120px;
}

.recipes_container > h2{
  margin: 30px 0 0;
  font-size: 30px;
  text-align: center;
}
.recipes_container .recipes a {
  width: 100%;
}

.recipe{
  box-sizing: content-box;
  color: #000000;
  display: flex;
  margin: 10px auto 0;
  width: 90%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #eaeaea;
  border-radius: 8px;
}


.recipe p{
  width: 140px;
  display: inline-block;
}

.recipe img{
  width: 100px;
  height: 100px;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}

.recipes{
  margin: 20px 0 0;
}

.recipes .more{
  display: block;
  width: fit-content;
  margin: 18px auto 0;
  color: #3f3f3f;
  text-decoration: none;
  text-align: center;
}



.detail{
  position: relative;
  width: calc(100% - 100px);
  padding: 6px;
}

.detail div{
  height: 24px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;  
}

.detail div + div{
  height: 60px;
  width: calc(100% - 6px - 6px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  
}
.rakudo{
  color: #FF9900;
}

.ingredient{
  font-size: 12px;
  height: 50px;
  overflow: hidden;  
}

.detail .time_div{
  height: 50px;
  display: flex;
  align-items: flex-end;
}




/* login.blade.php */

.login_title{
  margin: 46px 0;
  font-size: 26px;
  text-align: center;
}

.login_form{
  width: 80%;
  margin: 0 auto;
}

.login_form input{
  padding: 0 0 0 6px;
  width: 100%;
  font-size: 18px;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.login_form input:nth-child(n+3){
  margin: 30px 0 0;
}

.login_form .btn{
  display: block;
  margin: 40px auto 0;
}

.form_card a{
  margin: 36px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #909090;
  font-size: 14px;
}

.form_card span {
  color: #ff4242;
}

/* register.blade.php */

.consent{
  margin: 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.consent input{
  width: 14px;
  height: 14px;
}
.consent span{
  color: #4d4d4d;
  font-size: 12px;
}

.consent a{
  color: #ff4242;
  font-size: 12px;
  display: inline;
  margin: 0;
}

/* recipes.blade.php */

.form_search{
  width: 95%;
  margin: 20px auto 0;
}

.query_div{
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.query{
  height: 38px;
  padding: 6px;
  font-size: 12px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  width: calc(100% - 46px);
}

.search_btn{
  border: none;
  background-color: #fff;
  line-height: 38px;
  vertical-align: bottom;
}

.search_img{
  box-sizing: content-box;
  vertical-align: bottom;
  background-color: #FF0202;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  padding: 7px;
}

.category_sort_title{
  margin: 6px 0 0;
  height: 18px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.category_sort_title .category,
.category_sort_title .sort{
  font-size: 12px;
  height: 18px;
  color: #ff3f3f;
}

.category_sort{
  height: 36px;
  padding: 0;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.category, .sort{
  height: 34px;
  width: 60%;
  padding: 0;
  margin: 0;
  color: #5f5f5f;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
}

.sort{
  width: 40%;
}

.category_sort .sort{
  border-radius: 0 4px 4px 0;
  border-left: 1px solid rgb(170, 170, 170);
}

.form_search .btn {
  margin: 14px 0 0;
  height: 36px;
  width: 100%;
  line-height: 14px;
  font-size: 18px;
  box-shadow: none;
}


.pagination{
  display: flex;
  margin: 12px 0 0;
  justify-content: center;
}

.pagination a{
  padding: 0;
  font-size: 0;
  border: none;
}

.pagination span{
  display: none;
}

.pagination a::before{
  font-size: 14px;
  width: 82px;
  content: "前のページ";
}

.pagination span + a::before{
  font-size: 14px;
  content: "次のページ";
}

.pagination a + a::before{
  font-size: 14px;
  content: "次のページ";
}

/* create.blade.php */
.form_create{
  width: 90%;
  margin: 36px auto 0;
}

.img_input .preview{
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.img_inputs{
  width: 100%;
}

.img_inputs div{
  width: 100%;
  height: 110px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.img_inputs div + div{
  margin: 8px 0 0;
}

.form_create .img_input{
  width: 50%;
  height: 100%;
  text-align: center;
  color: #5f5f5f;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
}

.img_input div{
  display: flex;
  height: 54%;
  align-items: flex-end;
  justify-content: center;
  font-size: 16px;
}

.img_input img{
  width: 22px;
  margin: 0 4px 0 0;
  height: 24px;
}

.img_input > span{
  font-size: 12px;
}

.img_input input{
  display: none;
}

.form_create .recipe_detail{
  margin: 34px 0 0;
  font-size: 18px;
}

.form_create .recipe_detail input{
  display: block;
  width: 100%;
  height: 38px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.form_create .recipe_detail .ingredient{
  display: block;
  width: 100%;
  height: 160px;
  margin: 8px 0 0;
  padding: 4px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(202, 202, 202);
  resize: none;
}

.form_create .recipe_detail .procedure{
  display: block;
  width: 100%;
  height: 280px;
  margin: 8px 0 0;
  padding: 4px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(202, 202, 202);
  resize: none;
}

.form_create .recipe_detail .time{
  width: 80px;
  height: 24px;
  line-height: 24px;
  padding: 0 0 0 8px;
}

.recipe_detail div{
  margin: 12px 0 0;
  display: flex;
  gap: 6px;
}

.category_select{
  display: block;
  margin: 12px 0 0;
  padding: 2px;
  color: #5f5f5f;
  border-radius: 4px;
  border: 1px solid rgb(202, 202, 202);
}


.form_create .btn{
  display: block;
  margin: 48px auto 110px;
}

.form_create .error_message{
  color: #ff5d5d;
  font-size: 16px;
}

/* contact.blade.php */
.contact_title{
  margin: 36px 0 0;
  font-size: 26px;
  text-align: center;
}

.contact_card{
  width: 96%;
  margin: 0 auto;
}

.contact_detail{
  margin: 24px 0 0;
}

.contact_detail input{
  display: block;
  width: 100%;
  height: 36px;
  margin: 8px 0 0;
  padding: 4px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(202, 202, 202);
}


.contact_detail textarea{
  display: block;
  width: 100%;
  height: 120px;
  margin: 8px 0 0;
  padding: 4px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(202, 202, 202);
  resize: none;
}

.contact_card .btn{
  display: block;
  margin: 48px auto 110px;
}

.contact_card .error_message{
  display: block;
  margin: 4px 0 0;
  color: #ff5d5d;
}

/* favorites.blade.php */

.favorite_recipes{
  margin: 0 0 100px;
}

.no_favorite{
  margin: 50px 0 0;
  text-align: center;
}
/* mypage.blade.php */
.mypage_card .logout{
  display: block;
  width: fit-content;
  background-color: #fff;
  border: none;
  color: #5f5f5f;
  padding: 0 4px;
  margin: 60px 0 100px auto;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.mypage_card{
  width: 70%;
  margin: 0 auto;
}

.mypage_card p{
  margin: 0 auto;
  padding: 40px 0 0;
  font-size: 30px;
  text-align: center;
}

.mypage_card a{
  display: block;
  padding: 20px 0 0;
  font-size: 12px;
  color: #5f5f5f;
  text-decoration: none;
  width: fit-content;
  margin-left: auto;
}

.mypage_card img{
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.mypage_card .default{
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
  background-color: #ffbaba;
}

.mypage_card .username{
  padding: 12px 0 0;
  font-size: 24px;
}

.mypage_card .btn{
  margin: 28px 0 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 46px;
  font-size: 20px;
  text-align: center;
  line-height: 46px;
  background-color: #FF0202;
  color: #f9f9f9;
  box-shadow: 0 6px 0 0 #ba0000;
}



/* profile_edit.blade.php */
.profile_card p{
  margin: 26px 0;
}
.profile_card label{
  display: block;
  margin: 26px 0 0;
  font-size: 18px;
}

.profile_card input{
  margin: 4px 0 0;
  font-size: 14px;
  height: 28px;
}


.profile_card .icon_img{
  display: none;
}

.profile_card span{
  display: block;
  margin: 0 0 0 auto;
  width: fit-content;
  font-size: 12px;
  color: #5f5f5f;
}

.user_delete_form{
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
}

.user_delete{
  display: block;
  margin: 60px 0 0 auto;
  width: fit-content;
  font-size: 12px;
  color: #5f5f5f;
  border: none;
  background-color: #fff;
}
/* recipe.blade.php */

/* カルーセル */
.wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 300px;
}

.wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.next {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  bottom: 130px;
  transition: all 0.3s;
  z-index: 1;
  cursor: pointer;
}

/* .next::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #ffffff;
  border-right: solid 3px #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: 10px;
} */



.prev {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  bottom: 130px;
  transition: all 0.3s;
  z-index: 1;
  cursor: pointer;
}

.prev, .next{
  background-color: #3e3e3ed2;
  border-radius: 50%;
}

/* .prev::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: solid 3px #828282;
  border-right: solid 3px #828282;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: absolute;
  left: 15px;
  top: 10px;
} */



.slider {
  width: 400vw;
  display: flex;
  margin: 0 auto;
}

.slider1 {
  transform: translateX(0);
  transition: all 0.3s;
}

.slider2 {
  transform: translateX(-100vw);
  transition: all 0.3s;
}

.slider3 {
  transform: translateX(-200vw);
  transition: all 0.3s;
}

.slider4 {
  transform: translateX(-300vw);
  transition: all 0.3s;
}

.content {
  width: 100%;
  max-width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider > div {
  display: none;
}

#slider > div.active {
  display: block;
}

/* カルーセルここまで */
/* ラク度評価 */
.stars span{
  display: flex;               /* 要素をフレックスボックスにする */
  flex-direction: row-reverse; /* 星を逆順に並べる */
  justify-content: flex-end;   /* 逆順なので、左寄せにする */
}

.stars input[type='radio']{
  display: none;               /* デフォルトのラジオボタンを非表示にする */
}

.stars label{
  color: #D2D2D2;              /* 未選択の星をグレー色に指定 */
  font-size: 30px;             /* 星の大きさを30pxに指定 */
  padding: 0 5px;              /* 左右の余白を5pxに指定 */
  cursor: default;             /* カーソルが上に乗ったときに指の形にする */
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label{
  color: #F8C601;              /* 選択された星以降をすべて黄色にする */
}

/* ラク度評価ここまで */

pre{
  padding: 0 8px 0;
  margin: 8px 0 0;
  white-space: pre-wrap;
  font-size: 18px;
}

.recipe_procedure{
  width: 90%;
  margin: 16px auto 80px;
}
.recipe_procedure p{
  width: fit-content;
  font-size: 26px;
  padding: 0 6px;
  margin: 32px 0 0;
  border-bottom: 1px solid #000;
}

.rakudo_card p{
  border: none;
}

.recipe_procedure .recipe_title{
  font-weight: bold;
  margin: 0;
  border: none;
}


.recipe_procedure .time{
  font-size: 16px;
  display: block;
  margin: 16px 0 0;
}

.rakudo{
  display:  block;
  color: #FF9900;
  width: fit-content;
  margin: 0 0 0 auto;
}

.rakudo_card{
  display:  block;
  color: #FF9900;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.rakudo_card p{
  margin: 32px auto 0;
}

.stars{
  margin: 8px 0 0;
}

.rakudo_card .btn{
  margin: 16px 0 0;
  font-size: 20px;
  line-height: 24px;
  width: 140px;
  height: 32px;
  background-color: #FF9900;
  box-shadow: 0 6px 0 0 #b97815;
}

 .rakudo_card .favorite_btn{
  width: 200px;
  display: block flex;
  align-items: center;
  justify-content: center;
  margin: 36px auto 0;
  background-color: #FF9900;
  box-shadow: 0 6px 0 0 #b97815;
}

.favorite_btn img{
  width: 28px;
}


.favorite_btn + span{
  display: block;
  color: #5f5f5f;
  width: fit-content;
  margin: 24px auto 0;
}

.rakudo_card + .favorite_number{

  margin: 24px auto 0;
  font-size: 14px;
  border: none;
}

.contributor{
  margin: 24px 0 0;
}

.contributor span{
  display: block;
  margin:0 0 8px 12px;
}

.contributor img{
  width: 70px;
  height: 70px;
  background-color: #ffbaba;
  border-radius: 50%;
  object-fit: cover;
}

.contributor div{
  display: flex;
  width: 80%;
}

.edit_btn{
  display: block;
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  width: 120px;
  text-align: center;
  margin: 0 auto;
}

.recipe_delete .recipe_delete_btn{
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #5f5f5f;
  border-bottom: 1px solid #3e3e3ed2;
  width: 110px;
  margin: 38px auto 100px;
}

/* edit.blade.php */
.form_edit .btn{
  margin: 48px auto 0;
}

.delete button{
  display: block;
  color: #5f5f5f;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid rgb(170, 170, 170);
  width: fit-content;
  font-size: 16px;
  padding: 0 6px;
  margin: 50px 34px 120px auto;
}

/* myrecipe_rakudo.blade.php */
.myrecipe_rakudo{
  font-size: 22px;
  margin: 46px 0 0;
  text-align: center;
}

.myrecipe_rakudo span{
  font-size: 12px;
}

.recipe_success{
  font-size: 22px;
  color: #ff0000;
  margin: 46px;
  text-align: center;
}


/* admin1016.blade.php */
.contacts{
  padding: 0 0 200px;
}

.empty{
  margin: 24px 0 0;
  text-align: center;
}

.admin1016_title{
  text-align: center;
  font-size: 28px;
  margin: 36px 0 24px;
}

.contact{
  margin: 6px 20px;
  padding: 6px;
  border: 1px solid #a9a9a9;
  border-radius: 6px;
}

/* sent.blade.php */
.sent p{
  font-size: 24px;
  margin: 56px 0 0;
  text-align: center;
}

.sent span{
  display: block;
  text-align: center;
  font-size: 16px;
  margin: 46px 0 0;
}

.sent .btn{
  display: block;
  width: 140px;
  text-align: center;
  font-size: 24px;
  margin: 46px auto 0;
}

/* terms.blade.php */
.terms{
  margin: 24px 24px 140px;
}

.terms .terms_title{
  width: fit-content;
  font-size: 22px;
  padding: 0 8px;
  margin: 0 auto 18px;
  font-weight: bold;
  border-bottom: 1px solid #FF3F25;
}

.terms p{
  margin: 14px 0 4px;
  font-weight: bold;
  font-size: 18px;
}

.terms span{
  display: block;
  word-break: break-all;
}

.terms span + span{
  margin: 18px 0 0;
}

/* faq.blade.php */
.fap_title{
  width: fit-content;
  font-size: 22px;
  padding: 0 8px;
  margin: 36px auto 18px;
  font-weight: bold;
  text-align: center;

}

.faq{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.qanda{
  margin: 34px 0 0;
}

.question{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #FF3F25;
}

.answer{
  margin: 12px 0 0;
  font-size: 18px;
}

.question::before{
  content: "Q.";
}

.answer::before{
  content: "A.";
}

@media screen and (min-width: 640px) {
  html{
    height: 100%;
  }

  .header_logo{
    width: 140px;
  }

  main .container{
    width: 90%;
    max-width:1000px;
    margin: 0 auto;
    padding: 0 0 56px;
  }

  .form_card{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  .carousel{
    margin-top: 28px;
  }

  
  .form_create{
    width: 90%;
    max-width: 700px;
    margin: 36px auto;
    padding: 0 0 56px;
  }

  .mypage_card{
    width: 90%;
    max-width: 600px;
  }

  .pc_recipe_container{
    width: 90%;
    max-width:1000px;
    padding: 0 0 56px;
    margin: 0 auto;
    background-color: #f7f7f7;
  }

  .pc_recipe_container .carousel{
    max-width: 450px;
    margin: 0 auto;
  }

  .pc_recipe_container .carousel img{
    max-width: 450px;
    object-fit: cover;
  }

  .img_inputs div{
    width: 100%;
    height: 150px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .img_input div{
    height: 54%;
  }

  .terms{
    margin: 24px 24px 140px;
    padding: 0 0 140px;
  }

  .user_delete_form{
    width: 90%;
  }
  
}
